body {
  background: #b4b4b4;
  font-family: Times New Roman;
}

.con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  text-align: center;
  padding: 10px 5px;
  border : 1px solid red;
  border-radius: 10px;
  flex: 40%;
}

.tc {
  text-align: center;
}

h2 {
  color: cyan;
}
p {
   font-size: 17px;
}

form input {
  height: 30px;
  border : 1px solid red;
  border-radius: 20px;
}

.menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    background: #b4b4b4;
    border-radius: 10px 10px 20px 15px;
}
ul li{
list-style: none;
}
.url {
background: green;
border: 1.2px solid black;
border-radius: 8px;
margin: 5px;
}
a{
  text-decoration: none;
  color: white;
}

footer {
  padding: 20px;
  height: auto;
  position: relative;
  align-content: center;
  text-align: center;
  bottom: 0;
  background: gray;
  border-radius: 10px;
  margin: 10px;
}
footer a {
  font-family: Sans-Serif,Comic Sans MS;
  font-size: 15px;
  color: green;
  text-decoration: none;
  margin: 2px;
}

bold {
  color: yellow;
}



@media only screen and (min-width: 720px) {
  .box {
    flex: 20%;
  }
}
